// Variables Light Theme
$white: hsl(0, 0%, 100%);
$topBGpattern: hsl(225, 100%, 98%);
$cardlightBG: hsl(227, 47%, 96%);
$textlabellight: hsl(228, 12%, 44%);
$textlight: hsl(230, 17%, 14%);
$togglelight: hsl(230, 22%, 74%);


//Estilos de fondo
body{
    background: $white;
}

.container{
    width: 85%;
    margin: 0 auto;
}

//Estilos de letra

.title{
    font-size: 25px;
    color: $textlight;        
}

.title-primary{
    margin: 35px 0 0 0;
}

.label{
    font-size: 14px;
    color: $textlabellight;    
    display: block;
    margin: 5px 0 25px 0;     
}

// Estilos al Header

.head{
    background: $topBGpattern;
    display: flex; 
    flex-direction: column;
    padding-bottom: 30px;
    border-radius: 0 0 30px 30px;
}

.head__switch{
    display: flex;     
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 0;
    border-top: solid $textlabellight 1px;
}

.head__switch--button{
    width: 50px;
    height: 25px; 
    position: relative;
    border: none; 
    border-radius: 20px;
    cursor: pointer;
    background: $togglelight;
    &::after{
        content: "";
        position: absolute;
        top: 0;         
        left: 0;
        width: 25px;
        height: 25px;
        background: $white;
        border-radius: 20px;
        box-shadow: -2px 0 10px -2px $togglelight;
    }
}

