// Variables Light Theme
$white: hsl(0, 0%, 100%);
$topBGpattern: hsl(230, 100%, 99%);
$cardlightBG: hsl(227, 47%, 96%);
$cardlighthover: hsl(229, 22%, 90%);
$textlabellight: hsl(228, 12%, 44%);
$textlight: hsl(230, 17%, 14%);
$togglelight: hsl(230, 22%, 74%);

// Variables Night Theme
$dark: hsl(230, 17%, 14%);
$topBGpatternDark: hsl(230, 17%, 14%);
$carddarkBG: hsl(228, 28%, 20%);
$carddarkhover: hsl(229, 23%, 28%);
$textlabeldark: hsl(228, 34%, 66%);
$textdark: hsl(0, 0%, 100%);

//toggle Linear Gradiente
$togglebutton: linear-gradient(to left, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

// Variables de Metricts State
$state-green: hsl(163, 72%, 41%);
$state-red: hsl(356, 69%, 56%);

// Variables Social Media
$facebook-color: hsl(208, 92%, 53%);
$twitter-color:hsl(203, 89%, 53%);
$instagram-color: linear-gradient(90deg, hsl(329, 70%, 58%) 25%,hsl(37, 97%, 70%) 100%);
$youtube-color: hsl(348, 97%, 39%);

//Estilos del fondo
body{
    background: $white;
    transition: background 0.2s;
}

.container{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

//Estilos del Font

h1, h2, h4, p, span{
    color: $textlight;        
    transition: color 0.5s;
}

.title{
    font-size: 25px;    
}

.title-primary{
    margin: 35px 0 0 0;
}

.title-secundary{
    color: $textlabellight;
    margin-bottom:30px;
}

.label{
    font-size: 14px;
    color: $textlabellight;    
    display: block;
    margin: 5px 0 25px 0;     
}

.label-color{
    color: $textlabellight;    
    transition: color 0.5s;
}

// Estilos del Header

.head{    
    display: flex; 
    flex-direction: column;           
}

.head--background{
    background: $topBGpattern;
    border-radius: 0 0 30px 30px;
    padding-bottom: 40px;      
    transition: background .5s;   
}

.head__switch{
    display: flex;     
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 0;
    border-top: solid $textlabellight 1px;
}

.head__switch--button{
    width: 50px;
    height: 25px; 
    position: relative;
    border: none; 
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    background: $togglelight;
    &::after{
        content: "";
        position: absolute;
        top: 0;         
        left: 0;
        right: unset;
        width: 25px;
        height: 25px;
        background: $white;
        border-radius: 20px;
        box-shadow: -2px 0 10px -2px $togglelight;        
    }
}

//Estilos del Social Media Box

main{
    margin-top: -40px;
}

.smbox{
    width: 100%;        
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    border-radius: 4px 4px 8px 8px;
    margin-bottom: 30px;
    background: $cardlightBG;    
    cursor: pointer;
    transition: background 0.5s;
    &:hover{
        background: $cardlighthover;        
    }    
}

.smbox--visits{
    display: flex; 
    flex-direction: row;
    align-items: flex-start;   
    padding: 20px 35px;     
}

.smbox--follow-facebook{    
    border-top: solid 4px $facebook-color;
}

.smbox--follow-twitter{    
    border-top: solid 4px $twitter-color;
}

.smbox--follow-instagram{    
    border-top: solid 4px transparent;
    position: relative;        
    &::before{
        content: "";             
        width: 100%;
        height: 4px; 
        position: absolute;        
        top: -4px;
        left: 0;        
        background: $instagram-color;
        border-radius: 10px 10px 0 0;        
    }
}

.smbox--follow-youtube{    
    border-top: solid 4px $youtube-color;
}

.smbox__socialmedia{
    display: flex;
    align-items: center; 
    margin: 30px 0 10px 0;
}

.icon{
    width: 25px;
}

.smbox__socialmedia--user{
    font-size: 13px;
    color: $textlabellight;        
    margin-left: 10px;
}

.smbox__followers{
    text-align: center;    
}

.metrics{
    font-size: 35px;
    margin: 0;
}

.metrics-primary{
    font-size: 45px;    
}

.smbox__followers--parrf{
    font-weight: 400;
    color: $textlabellight;
    letter-spacing: 5px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    text-align: center;
}

.smbox__state{
    display: flex; 
    align-items: center;
    margin: 15px 0 30px 0;
}

.smbox__state-sign{
    width: 10px;
}

.smbox__state--metrics{
    font-size: 14px;
    padding: 0 0 0 5px;
}

.smbox__state--metrics-up{
    color: $state-green !important;
}

.smbox__state--metrics-down{
    color: $state-red !important;
}

.smbox__views, .smbox__status{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    min-height: 80px;        
}

.smbox__status{
    align-items: flex-end;    
    padding-bottom: 5px;
}

.init{
    margin: 0;
    padding: 0;
}

//
// Estilos para el tema oscuro del dashboard
//

.switch-dark{
    &::after{
        left: unset; 
        right: 0;
        box-shadow: 2px 0 10px -2px $togglelight;
    }
}

.active{
    background: $dark;
    h1, h2, h4, p, span{
        color: $textdark;        
    }

    .head--background{
        background: $topBGpatternDark
    }

    .smbox{
        background: $carddarkBG;
        &:hover{
            background: $carddarkhover;
        }
    }

    .label-color{
        color: $textlabeldark;
    }
}

//Final de los estilos theme

@media screen and (min-width: 800px){
    //estilos de encabezados
    .title-primary{
        font-size: 28px;
    }    

    .metrics-primary{
        font-size: 60px;
    }

    //estilos estructurales

    .head{
        flex-direction: row;
        align-items: center; 
        justify-content: space-between;
    }

    .head--background{        
        border-radius: 0 0 20px 20px;
        padding-bottom: 60px;      
    }    

    .head__switch{
        border: none;
        padding: 0;      
        display: flex; 
        align-items: center;             
        span{
            margin: 0;
            padding-right: 20px;
        }
    }

    .head__switch--button{
        background: $togglebutton;      
    }

    .smcontainer{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .smbox   {
        width: 48.5%;
    }

}

@media screen and (min-width: 1440px){
    .smbox   {
        width: 23%;
    }
}