body {
  background: white;
  transition: background 0.2s;
}

.container {
  width: 85%;
  margin: 0 auto;
}

h1, h2, h4, p, span {
  color: #1e202a;
  transition: color 0.5s;
}

.title {
  font-size: 25px;
}

.title-primary {
  margin: 35px 0 0 0;
}

.title-secundary {
  color: #63687e;
  margin-bottom: 30px;
}

.label {
  font-size: 14px;
  color: #63687e;
  display: block;
  margin: 5px 0 25px 0;
}

.label-color {
  color: #63687e;
  transition: color 0.5s;
}

.head {
  display: flex;
  flex-direction: column;
}

.head--background {
  background: #fafbff;
  border-radius: 0 0 30px 30px;
  padding-bottom: 40px;
  transition: background 0.5s;
}

.head__switch {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 0;
  border-top: solid #63687e 1px;
}

.head__switch--button {
  width: 50px;
  height: 25px;
  position: relative;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  background: #aeb3cb;
}
.head__switch--button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 20px;
  box-shadow: -2px 0 10px -2px #aeb3cb;
}

main {
  margin-top: -40px;
}

.smbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 4px 8px 8px;
  margin-bottom: 30px;
  background: #f0f2fa;
  cursor: pointer;
  transition: background 0.5s;
}
.smbox:hover {
  background: #e0e2eb;
}

.smbox--visits {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 35px;
}

.smbox--follow-facebook {
  border-top: solid 4px #198ff5;
}

.smbox--follow-twitter {
  border-top: solid 4px #1ca0f2;
}

.smbox--follow-instagram {
  border-top: solid 4px transparent;
  position: relative;
}
.smbox--follow-instagram::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: -4px;
  left: 0;
  background: linear-gradient(90deg, #df4996 25%, #fdc468 100%);
  border-radius: 10px 10px 0 0;
}

.smbox--follow-youtube {
  border-top: solid 4px #c4032a;
}

.smbox__socialmedia {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.icon {
  width: 25px;
}

.smbox__socialmedia--user {
  font-size: 13px;
  color: #63687e;
  margin-left: 10px;
}

.smbox__followers {
  text-align: center;
}

.metrics {
  font-size: 35px;
  margin: 0;
}

.metrics-primary {
  font-size: 50px;
}

.smbox__followers--parrf {
  font-weight: 400;
  color: #63687e;
  letter-spacing: 5px;
  margin: 5px 0 10px 0;
  text-transform: uppercase;
  text-align: center;
}

.smbox__state {
  display: flex;
  align-items: center;
  margin: 15px 0 30px 0;
}

.smbox__state-sign {
  width: 10px;
}

.smbox__state--metrics {
  font-size: 14px;
  padding: 0 0 0 5px;
}

.smbox__state--metrics-up {
  color: #1db489;
}

.smbox__state--metrics-down {
  color: #dc414c;
}

.smbox__views, .smbox__status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
}

.smbox__status {
  align-items: flex-end;
  padding-bottom: 5px;
}

.init {
  margin: 0;
  padding: 0;
}

.switch-dark::after {
  left: unset;
  right: 0;
  box-shadow: 2px 0 10px -2px #aeb3cb;
}

.active {
  background: #1e202a;
}
.active h1, .active h2, .active h4, .active p, .active span {
  color: white;
}
.active .head--background {
  background: #1e202a;
}
.active .smbox {
  background: #252a41;
}
.active .smbox:hover {
  background: #373d58;
}
.active .label-color {
  color: #8b97c6;
}

@media screen and (min-width: 800px) {
  .title-primary {
    font-size: 28px;
  }

  .metrics-primary {
    font-size: 60px;
  }

  .head {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .head--background {
    border-radius: 0 0 20px 20px;
    padding-bottom: 60px;
  }

  .head__switch {
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .head__switch span {
    margin: 0;
    padding-right: 20px;
  }

  .head__switch--button {
    background: linear-gradient(to left, #378fe6, #3eda82);
  }

  .smcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .smbox {
    width: 48.5%;
  }
}
@media screen and (min-width: 1440px) {
  .smbox {
    width: 23%;
  }
}

/*# sourceMappingURL=style.css.map */
